.full-screen-width {
  width: 100%;
}

.container-grid-three-thirds {
  grid-template-columns: 1fr 1fr 1fr;
}

.order-inventory-listing {
  text-align: center;
  margin-bottom: 15px;
}

.order-inventory-listing > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.order-inventory-listing > p {
  font-size: 30px;
  margin: 0;
}

.card {
  border: 1px solid #e0aacd;
  border-radius: 3px;
  width: 200px;
  margin: auto;
  text-align: center;
}

.card > img {
  width: 75%;
}

.smaller-font {
  font-size: 13px;
}

.card-button {
  border: none;
  border-radius: 3px;
  background-color: #e0aacd;
  margin-top: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}