<footer class="footer">
    <div class="container">
        <div class="menu menu-distributed">
            <div class="infobox infobox-marginless infobox-copyright">
                <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
                    Copy this as much as you like
                </h4>
            </div>
            <div class="infobox infobox-marginless infobox-flower">
                <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
                    Flower power
                </h4>
            </div>
        </div>
    </div>
</footer>